<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="bg-white"><%- include('../layouts/header'); %></header>
  <main class="container mx-auto px-6">
   <table class="min-w-full divide-y border border-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-base font-semibold text-gray-900">
            Foto
          </th>
          <th class="whitespace-nowrap px-4 py-2 text-base font-semibold text-gray-900">
            Nombre
          </th>
          <th class="whitespace-nowrap px-4 py-2 text-base font-semibold text-gray-900">
            Email
          </th>
          <th class="w-4"></th>
          <th class="w-4"></th>
        </tr>
        
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% for (const user of users) { %>
          <tr class="bg-gray-100"> <td class="whitespace-nowrap px-4 py-2">
              <span class="w-8 h-8 rounded-full bg-gray-300 flex justify-center items-center mr-4">
                <div class="w-10 h-10 rounded-full bg-gradient-to-r from-indigo-500 to-purple-600 flex items-center justify-center text-xl text-white font-bold">
                  <%= user.name.charAt(0).toUpperCase() %>
                </div>
                
              </span>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-base font-semibold text-gray-900">
              <%= user.name %>
            </td>
            <td class="whitespace-nowrap px-4 py-2 text-sm text-gray-700">
              <%= user.email %>
            </td>
            
            <td class="whitespace-nowrap w-4">
              <a href="user/edit/<%= user._id %>" class="rounded-full bg-gradient-to-r from-indigo-500 to-purple-600 py-2 px-4 text-center text-white font-bold text-xs hover:bg-violet-700">
                Editar
              </a>
            </td>
            <td class="whitespace-nowrap w-4">
              <button type="button" onclick="deleteUser('<%= user._id %>')" class="rounded-full bg-gradient-to-r from-red-500 to-pink-500 py-2 px-4 text-center text-white font-bold text-xs hover:bg-rose-700">
                Eliminar
              </button>
            </td>
            
          </tr>
          <% } %>
      </tbody>
    </table>
  </main>

  <footer><%- include('../layouts/footer'); %></footer>

  <script>
    function deleteUser(id) {
      fetch(`api/user/${id}`, {
        method: "DELETE",
      }).then((response) => {
        window.location.href = "/user";
      });
    }
  </script>
</body>

</html>
